html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.artist-cards-container {
  border: 3px solid red;
  flex-direction: row;
  display: flex;
}
.card-container {
  border: 1px solid #000;
  background-color: grey;
  padding: 10px;
  margin: 15px;
}

.artist-name {
  text-decoration: underline;
  text-align: center;
}