/* COLORS PALETTE
  #02111B
  #3F4045
  #30292F
  #5D737E
  #FCFCFC
 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #02111B;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  margin: 0;
  width: 100vw;
  background-color: #3F4045;
  padding: 10px 0;
}

header > * {
  margin-left: 2%;
}

#metrics-description > ul > li {
  padding: 20px;
}

section#track-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}

div.track-card {
  margin: 10px;
  border-radius: 5px;
  padding: 0 10px;
  width: 400px;
  position: relative;
  background-color: #3F4045;
}

div.track-card img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0 5px 5px;
}

div.track-card > p > span.mini-title {
  text-decoration: underline;
}

div.metrics-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

div.metric-card {
  border-radius: 20px;
  margin: 5px;
  padding: 0 10px;
}

div.metric-card > p {
  margin: 5px;
}

div.ant-image-mask-info {
  display: none;
}

div.metrics-description-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}

div.description-card {
  border-radius: 5px;
  width: 300px;
  padding: 0 10px;
  background-color: #3F4045;
  margin: 10px;

}

div.description-card > h3 {
  text-align: center;
  margin: 5px 0;
  color: #5D737E;
  text-decoration: underline;
}